<div class="toasts-wrapper">
  @for (notification of notificationService.notifications(); track notification) {
    <div
      [@toastAnimation]
      [class]="getContainerClass(notification.type)"
      role="alert"
    >
      <i class="toast-icon ci" [ngClass]="getIconClass(notification.type)"></i>
      <p class="toast-message">{{ notification.message }}</p>
      <button
        type="button"
        class="toast-close-btn"
        (click)="onDismiss(notification)"
        aria-label="Cerrar"
      >
        <i class="ci ci-Close_Big"></i>
      </button>
    </div>
  }
</div>

